dot.vim/.netrwhist
dot.xmonad/xmonad.o
dot.xmonad/xmonad.hi
dot.xmonad/xmonad-x86_64-linux
dot.xmonad/xmonad.errors
ac-comphist.dat
emacs.el
auto-save-list
bookmarks
ghci_history
dot.config/RescueTime.com/
dot.config/pulse/
dot.config/shortcutrc
dot.config/user-dirs.dirs
dot.config/user-dirs.locale
dot.config/gcloud/
dot.config/gh/
